{
    "chain-apis": {
        "algorand": {
            "algod": {
                "address": "https://testnet-api.algonode.cloud",
                "port": "",
                "token": "..."
            },
            "indexer": {
                "address": "https://testnet-idx.algonode.cloud",
                "port": "",
                "token": "..."
            }
        },
        "voi": {
            "algod": {
                "address": "https://testnet-api.voi.nodly.io",
                "port": "",
                "token": "..."
            },
            "indexer": {
                "address": "https://testnet-idx.voi.nodly.io",
                "port": "",
                "token": "..."
            }
        }
    },
    "pkeys": {
        "algorand": "words",
        "voi": "words"
    }
}